In [53]:
print("HELLO WORLD !!")

HELLO WORLD !!

In [5]:
# Integer Variable
x = 5
print(x)

5

In [6]:
# Float Variable
y = 5.5
print(y)

5.5

In [7]:
# Arthemtic Opertaor on these two variable
print(x + y)
print(x - y)
print(x * y)
print(x / y)

10.5
-0.5
27.5
0.9090909090909091

In [9]:
# Comparison Operator on these two variable
print(x > y)
print(x < y)
print(x == y)
print(x != y)

False
True
False
True

In [12]:
# String Variable
name = "John"
print(name)
name2 = 'Mohan'
print(name2)
var2 = "324344"
print(var2)

John
Mohan
324344

In [13]:
# Boolen Variable
is_student = True
print(is_student)
is_teacher = False
print(is_teacher)

True
False

In [17]:
# All variables together
age = 34
height = 5.4
name = "John"
is_student = True
print("Age:",age)
print("Height:",height)
print("Name:",name)
print("Is Student:",is_student)

Age: 34
Height: 5.4
Name: John
Is Student: True

### Data Types:
**Introduce basic data types in Python:**

- int: for integers
- float: for decimal numbers
- str: for text (strings)
- bool: for True/False

In [22]:
type(is_student)

bool

In [18]:
# Checking data types
print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [24]:
# Operators

a = 10
b = 3

# Addition
print("Addition:",a + b)

# Substraction
print("Substraction:",a - b)

# Multiplication
print("Multiplication:",a * b)

# Division
print("Division:",a / b)

# Floor Division
print("Floor Division:",a // b)

# Modulus
print("Modulus:",a % b)

Addition: 13
Substraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1

In [27]:
# Comparison Operators:

x = 20
y = 4

# Equal to
print(x == y)  # Output: False

# Not equal to
print(x != y)  # Output: True

# Greater than
print(x > y)  # Output: True

# Less than
print(x < y)  # Output: False

# Greater than or equal to
print(x >= y)  # Output: True

# Less than or equal to
print(x <= y)  # Output: False

False
True
True
False
True
False

In [28]:
var1 = 10
var2 = "john"
var3 = True

print(type(var1))
print(type(var2))
print(type(var3))

<class 'int'>
<class 'str'>
<class 'bool'>

In [34]:
# Input From User
name = input("Enter your name: ")
age= int(input("Enter your age: "))
print("Your name is",name,"and your age is",age)

Enter your name: Suneel
Enter your age: 34
Your name is Suneel and your age is 34

In [33]:
type(age)

str

In [35]:
age1 = 34

In [36]:
type(age1)

int

In [42]:
# Input From User (Defining Data Type)
name = input("Enter your name: ")
age= int(input("Enter your age: "))
print("Your name is",name,"and your age is",age)

Enter your name: Suneel
Enter your age: 34
Your name is Suneel and your age is 34

In [43]:
type(age)

int

In [47]:
# Input From User to apply arthematic opertors
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Addition:",a + b)
print("Substraction:",a - b)
print("Multiplication:",a * b)
print("Division:",a / b)

Enter first number: 10
Enter second number: 20
Addition: 30
Substraction: -10
Multiplication: 200
Division: 0.5

In [52]:
# Input from user as string data type values to apply arthematic opertors
a = input("Enter first number: ")
b = input("Enter second number: ")
print("Addition:",a + b)
#print("Substraction:",a - b)

Enter first number: SUNEEL
Enter second number: PATEL
Addition: SUNEELPATEL